@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100&display=swap");
/*********VARIABLES***********/
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url("imagenes/canta-cuentos.jpg");
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: black;
  z-index: 10;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
}

.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu nav ul li a {
  color: white;
  transition: 300ms;
  font-size: 18px;
}

.menu nav ul li a:hover {
  color: #00b2ca;
}

#ctn-icon-search {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 12px;
  right: 10px;
}

#lupa {
  width: 80px;
  height: auto;
}

#ctn-bars-search {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
  width: 100%;
  padding: 20px;
  background-color: black;
  z-index: 9;
}

#ctn-bars-search input {
  display: flex;
  width: 400px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  background-color: white;
  border-radius: 15px;
}

#cerrar-busqueda {
  display: flex;
  width: 40px;
}

#busqueda {
  display: flex;
  width: 40px;
  height: 40px;
}

/******MAIN*******/
.container-cover {
  width: 100%;
  height: 550px;
  position: relative;
  margin-top: -10px;
  background-image: url(./imagenes/fondo\ rick.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-info-cover {
  max-width: 800px;
  height: 550px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-family: "Indie Flower", cursive;
  font-size: 60px;
  font-weight: 500px;
  color: black;
}

.container-main {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.container-footer {
  width: 100%;
  padding: 40px 0;
  margin-top: 40px;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer footer h2 {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  color: "Indie Flower", cursive;
}

/*******PERSONAJES******************/
.seccion-character {
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

#tarjetas-personajes {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.tarjetas {
  padding: 20px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 10px;
  transition: all 500ms;
}

.tarjetas:hover .detalles {
  margin-top: 0;
}

.tarjetas:hover .img-personaje {
  margin-top: -110px;
}

.detalles {
  width: 300px;
  color: white;
  padding: 20px;
  margin-top: -120px;
  transition: all 500ms;
}

.img-personaje {
  position: relative;
  z-index: 1;
}

/**************location**************/
#tarjetas-locacion {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.location {
  padding: 20px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.img-tierra {
  width: 300px;
  height: 250px;
}

/**********EPISODES**************/
#tarjetas-episode {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.episode {
  padding: 20px;
  margin: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.img-tv {
  width: 300px;
  height: 250px;
}

/***#cargando{              MALE: esto era para cargar el SetTimeout, al 
    display: flex;                ponerlo me desaparecian todas las tarjetas
    justify-content: center;
    width: 100px;
    height: 100px;
    display: none;
}



/**************PAGINACION*************/
#controles {
  display: flex;
  justify-content: center;
  align-items: center;
}

#izq,
#der {
  width: 50px;
}

/***************BOTON BACK**************/
.div-boton-back {
  margin-top: 50px;
}
.div-boton-back button {
  width: 120px;
  height: 35px;
  margin: 0px 30px;
}

/******FOOTER***********/
.hecho {
  display: flex;
  justify-content: center;
  color: white;
}

/****Media Query*******/
@media screen and (max-width: 1220px) {
  .header-content,
.logo,
.container-main,
.container-footer,
.container-info-cover h1,
.container-info-cover {
    max-width: 1000px;
    padding: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .container-main {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .container-main {
    width: 20%;
    justify-content: flex-end;
  }

  .menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: black;
    box-shadow: 10px 0 20px -25px white;
  }

  .menu nav ul {
    flex-direction: column;
  }

  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu nav ul li a {
    margin-top: 40px;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
