// es mejor importar las fonts en html: es mas rapida la carga 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100&display=swap');

/*********VARIABLES***********/

$color: white;
$colorsecundario:#00b2ca;
$colorsombra: #7c7675;
$colorhover: #15e6aa;

$font: 'Indie Flower', cursive;
$font1:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// buen uso de mixins!

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-justify{
    display: flex;
    justify-content: center;
}
// Tu sass esta muy  bien pero no estas usando anidado, que es una de las cosas mas utiles y usadas!
// Te animo a que lo practiques, de verdad se usa un monton en la industria.

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font1
    
    
}

body{
    background-image: url("imagenes/canta-cuentos.jpg");
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: black;
    z-index: 10;
    
}

.header-content{
    // ojo con el tabulado en max width
max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

.logo{
    height: 80px;
    @include flex-justify
    
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav ul li a{
    color: $color;
    transition: 300ms;
    font-size: 18px;
}

.menu nav ul li a:hover{
    color: $colorsecundario;
}
#ctn-icon-search{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 12px;
    right: 10px;
}

#lupa{
    width: 80px;
    height: auto;
    
}


#ctn-bars-search{
    @include flex-wrap;
    position: relative;
    top: -10px;
    width: 100%;
    padding: 20px;
    background-color: black;
    z-index: 9;
}

#ctn-bars-search input{
    display: flex;
    width: 400px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    background-color:$color;
    border-radius: 15px;
}

#cerrar-busqueda{
    display: flex;
    width: 40px;
    
}

#busqueda{
    display: flex;
    width: 40px;
    height: 40px;
    
    
}


/******MAIN*******/
.container-cover{
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: -10px;
    background-image: url(./imagenes/fondo\ rick.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-info-cover{
    max-width: 800px;
    height: 550px;
    margin: auto;
    @include flex-justify();
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-family: $font;
    font-size: 60px;
    font-weight: 500px;
    color: black;
}

.container-main{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

.container-footer{
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
    @include flex-justify;
    align-items: center;
}


.container-footer footer h2{
    font-family: $font;
    font-size: 20px;
    color: $font;
}



/*******PERSONAJES******************/
.seccion-character{
    padding: 20px;
    padding-bottom: 40px;
    @include flex-wrap;
    

    
}

#tarjetas-personajes{
    @include flex-wrap;
    padding: 30px;
    justify-content: space-around;
    font-family: $font1;
    color: $color;
   }

   .tarjetas{
    padding: 20px;
    margin: 20px;
    border: 5px solid $color;
    border-radius: 10px;
    transition: all 500ms;
    
}

.tarjetas:hover .detalles{
    margin-top: 0;
}

// Tenemos un problema: hay un elemento que tiene la clase tarjetas que es el contenedor de todas las tarjetas
// y cada tarjeta en particular, que tambien tiene la misma clase
// Entonces, cuando entramos a la seccion tarjetas, ¡todos estos hover se ejecutan a la vez!
// En tu html, modifica el div con el id  "tarjetas-personajes" para que tenga la clase "tarjetas-container"
// y esto se te va a solucionar
.tarjetas:hover .img-personaje{
    margin-top: -110px;
}

.detalles{
    width: 300px;
    color: $color;
    padding: 20px;
    margin-top: -120px;
    transition: all 500ms;

}

.img-personaje{
    position: relative;
    z-index: 1;

}


/**************location**************/

#tarjetas-locacion{
    @include flex-wrap;
    padding: 30px;
    font-family: $font1;
    color: $color;
   }



   .location{
    padding: 20px;
    margin: 20px;
    border: 5px solid $color;
    border-radius: 10px;
    
}

.img-tierra{
    width: 300px;
    height: 250px;
}


/**********EPISODES**************/
#tarjetas-episode{
    @include flex-wrap;
    padding: 30px;
    font-family: $font1;
    color: $color;
   }

   .episode{
    padding: 20px;
    margin: 20px;
    border: 5px solid $color;
    border-radius: 10px;
 
}

.img-tv{
    width: 300px;
    height: 250px;
}

// No se si termino de entender lo que quisiste hacer, si queres me lo mostras en clase 
/***#cargando{              MALE: esto era para cargar el SetTimeout, al 
    display: flex;                ponerlo me desaparecian todas las tarjetas
    justify-content: center;
    width: 100px;
    height: 100px;
    display: none;
}



/**************PAGINACION*************/
#controles{
    @include flex-justify;
    align-items: center;
}

#izq,
#der{
    width: 50px;
    
}


/***************BOTON BACK**************/
.div-boton-back{
    margin-top: 50px;
    button{
        width: 120px;
        height: 35px;
        margin: 0px 30px;
        
    }
}

/******FOOTER***********/
.hecho{
    @include flex-justify;
    color: $color;
}

/****Media Query*******/ 
    
@media screen and (max-width: 1220px){
    .header-content,
    .logo,
    .container-main,
    .container-footer,
    .container-info-cover h1,
    .container-info-cover{
        max-width: 1000px;
        padding: 20px;
    }
}

@media  screen and (max-width: 1020px) {
    .container-main{
        width: 100%;
        flex-direction: column;
    }
    
}

@media  screen and (max-width: 800px) {

    .container-main{
        width: 20%;
        justify-content: flex-end;
    }
    .menu{
       width: 200px;
       height: 100vh;
       position: fixed;
       top: 80px;
       left: 0;
       background-color: black;
       box-shadow: 10px 0 20px -25px $color;
      
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: $color;
    }

}




